extends ../layout.pug

block content
  p You have asked to reset your password on Revolt. Here is the link:
  a.btn.btn-primary(href=link target='_blank') Reset my password
  p If you haven't requested this email, ignore it and your password will be kept.
  br
  p Have a great day,
  p The Revolt team
