extends ../layout.pug

block content
  p Vous avez demandé à réinitialiser votre mot de passe sur Revolt. Voici le lien :
  a.btn.btn-primary(href=link target='_blank') Réinitialiser mon mot de passe
  p Si vous n'avez pas fait cette demande, ignorez ce mail et votre mot de passe sera conservé.
  br
  p Passez une bonne journée,
  p L'équipe Revolt
