extends ../layout.pug

block content
  p Hola Revolt!
  p The Python script finished scraping #{username}'s audience. Find the results in Mongo, in the Influencers collection:
  p { username: #{username} }