extends ../layout.pug

block content
  p Congrats #{name} !
  p Your profile was selected by our team. You can now go to Revolt and review new games.
  br
  a.btn.btn-primary(href=homepageLink target='_blank') See the games
