extends ../layout.pug

block content
  p Félicitations #{name} !
  p Votre profil a été validé par notre équipe. Vous pouvez désormais vous rendre sur Revolt et postuler à des expériences.
  br
  a.btn.btn-primary(href=homepageLink target='_blank') Voir les expériences
