extends ../layout.pug

block content
  p Hello Revolt Team 👋
  br
  p #{creatorName} just referred a new brand via the influencer program. Here is the email he entered:
  p #{brandEmail}
  p You can now contact that brand on #{creatorName}'s behalf. Don't forget to send this tracked link
  p #{signupLink}
  br
  p Thanks.