extends ../layout.pug

block content
  p Hello there 👋
  p #{email} has signed up on the platform.
  p You can find him on MongoDB in the Creators collection with this query:
  code {email: "#{email}"}
  if ambassadorEmail && abassadorName
    p The creator's ambassador is #{ambassadorName} (#{ambassadorEmail})
  else
   p The creator has no ambassador

