extends ../layout.pug

block content
  p Hi #{brandName} 👋
  br
  p #{username} has posted a review of #{productName}. You can find it in the "Reviews" tab of your campaign dashboard.
  a.btn.btn-primary(href=dashboardLink target='_blank') See the reviews
