extends ../layout.pug

block content
  p Hi #{username} 👋
  br
  p You have recently applied to the campaign #{campaignName}. Unfortunately #{brandName} has chosen not to work with you.
  p You can find other games to review on Revolt.
  br
  a(stlye="display: block;" href="https://app.revolt.club/") Discover new games
  br
  p Thanks.