extends ../layout.pug

block content
  p Voici le lien pour confirmer votre adresse email :
  a.btn.btn-primary(href=link target='_blank') Confirm my email address
  br
  p Passez une bonne journée,
  p L'équipe Revolt
