extends ../layout.pug

block content
  p Dommage #{name} !
  p Votre profil n'a pas été validé par notre équipe. Vous ne pouvez donc pas postuler à des expériences de marques.
  p Plusieurs raisons sont possibles :
  ul
    li Vous n'avez pas assez d'abonnés
    li Vos posts ne génèrent pas assez d'engagement
    li Vos posts ne sont pas d'assez bonne qualité
    li Vous réalisez trop de partenariats avec des marques
  br
  p Bonne journée,
  p L'équipe Revolt
