extends ../layout.pug

block content
  p Too bad #{name}!
  p Your profile wasn't selected by our team. This means you can't ask to review games on the platform.
  p Several reasons are possible:
  ul
    li Your audience is to small
    li Your content doesn't generate enough engagement
    li Your content isn't high quality
    li You have made too many paid partnerships
  br
  p Have a geat day,
  p The Revolt team
